<app-base-page></app-base-page>

<div class="container">
    <div class="jumbotron">

        <div>
            <img src="/assets/images/OntarioGovernment.jpg" alt="Ontario Government" width="300" align="right" hspace="50" >
            <h4>Software Testing</h4>
            <p>I worked with the Ontario government as a QA Tester for one year. I used to write and execute Test cases. Our branch was known as FCMS. Which means FRO Case Management System. FRO stands for Family Responsibility and Organisation. I really learnt a lot and enjoyed working with the Ontario government.</p>

            </div>
            <br><br><br><br>
            <div>
            <img src="/assets/images/RestaurantWebsite.PNG" alt="Restaurant Website" width="300" align="right" hspace="50"  >
            <h4>Restaurant Website</h4>
            <p>I have created a Restaurant Website which has Home, Menu and Contact Pages. We can also Register and Login the website. The data which is on the menu comes from a database. This project was very interesting and fun to work on. This website was created on ASP.NET.</p>
            </div>
            <br><br><br><br>
            <div>
            <img src="/assets/images/RealestateWebsite.png" alt="Realestate Website" width="300" align="right" hspace="50" >
            <h4>Real Estate Website</h4>
            <p>I have also created a real estate website. This website has several pages which show different properties along with the images. It also has the Home and Contact page. There is also a Site Map page which has all the links to the content of the website. I liked creating this website because this was one of my first complete websites that I have created. </p>
            </div>




    </div>
   </div>
