<app-base-page></app-base-page>>


<div class="container">
    <div class="jumbotron">

        <img src="/assets/images/Services.gif" alt="Services" width="500" align="right" hspace="50"  >
        <h3>The services that I provide are :-</h3>
                <ul>
                    <li>Java</li>
                    <li>C#</li>
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>Android</li>
                    <li>Java Script</li>
                    <li>Oracle 12c</li>
                    <li>Photoshop</li>
                    <li>Unix/Linux</li>
                    <li>ASP.NET</li>
                    <li>PHP</li>
                </ul>





    </div>
   </div>
